*{
    padding:0;
    margin:0;
}
header{
    font-size:62.5%;
}
body{

    margin:0 auto;
    max-width: 640px;
}
header{
    height:4rem;
    width:100%;
    max-width: 640px;
    background:#29bde0;
    position:fixed;
    top:0;
    z-index:3;

    /*display:flex;*/
    /*justify-content:space-between;*/
    /*align-items:center;*/
    text-align:center;

}
header img{
    transform:scale(0.7,0.7);
    padding:0.5rem 0;

}
.header-left{
    float:left;
    padding-left: 2rem;
}
.header-right{
    float:right;
    padding-right:1rem;
}
header span{
    color:#FFFFFF;
    font-size:2.5rem;
    line-height:4rem;
    text-space:3px;
}
.main{
    margin-top:4rem;
    height:40rem;
    width:100%;
    max-width: 640px;
    background:#29bde0;
    /*position:relative;*/
}

.circle{
    margin-left:-2rem;
    height: 4rem;
    width: 4rem;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
    background: #FFFFFF;
    text-align:center;
    border: 1px solid #ffedc5;
    line-height:4rem;
    position:absolute;
    left:50%;
    top: 7rem;
    z-index:2;
}
.lg-box{
    width:70%;

    background:#ffedc5;
    margin: auto;
    padding-top: 2rem;
    border:5px solid #ffffff;
    position:relative;
    top: 5rem;
    text-align: center;
}
#pic1{
    opacity: 1;
    /*padding-top: 2rem;*/
    z-index:3;
    padding:2rem 2rem 0;
    margin:0 auto;
    display:block;
}
#pic2{
    opacity:0;
    z-index:3;
    margin:0 auto ;
    display:none;
    padding:5% 2rem;
}
#identity{
    padding:2rem 0 2rem;
    margin: 1rem 0;
    font-size:2rem;

}
#button{
    width:80%;
    /*position:absolute;*/
    /*top:40rem;*/
    /*left:4rem;*/
    margin:0 auto;
    border-radius:10px;
    background:orange;
    color:#FFFFFF;
    border:none;
    font-size:1.6rem;
    outline:none;
    height:4rem;

}
.footer{
    margin-top:4rem;
    text-align:center;
    background:#29bde0;
    padding:4rem;
}
